<!DOCTYPE html>
<html>
    <head>
        <title>3D Foldable Card Hover Effects</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel ="stylesheet" href="mystyle.css">
    </head>
    <body>
        <div class="card">
            <div class="imgBox">
              <img src="q1.jpg">
              <img src="q2.jpg">
            </div>
            <div class="details">
              <div class="content">
                 
                <h2>Deep Adhikari<br><span>Web Developer</h2>
                <div class="social-icons">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
    </body>
</html>