#footer-icons{
    font-size:35px;
    color:green;
}
#footer-css{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 25px;
}
#f-link-css{
    text-decoration: none;
}
@media (min-width: 1200px),(min-width: 992px),
(min-width: 768px),(min-width: 668px),
(min-width: 576px) {
.morning-css{
    background-color: rgb(119, 107, 107);
}
.night-css{
    background-color: rgb(46, 42, 42);
}
}