/* All Pages */

#Service-card-css{
    background-color:yellow;
    box-shadow:5px 5px 20px 5px pink;  
}

.Slider-css img{
    background-attachment: fixed;
}


/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {  

    /* Web Menu page */
    #for-web-nav{
        display: none;
    }

    /* Mobile Menu page */
    #for-mob-nav{
        display: block;
    }

    /* About pages  */
    #About-img-css{
        width: 100%;
        height: 150px;
    }

    /* Service pages */
    .all-service-css h5{
        margin-top: 10px;
        font-size: 12px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .all-service-css img{
        width: 100%;
        height: 100px;
    }
    
    /* Slidder Page */
    .carousel-inner img{
        width: 100px;
        height: 220px;
    
    }
    
 }

/*  Medium devices (tablets, 768px and up) */
@media (max-width: 668px) { 

    /* Web Menu page */
    #for-web-nav{
        display: none;
    }

    /* Mobile Menu page */
    #for-mob-nav{
        display: block;
    }
    
    /* Service pages */
    .all-service-css h5{
        margin-top: 10px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* Slidder Page */
    .carousel-inner img{
        width: 100px;
        height: 250px;
    }
 }
 
/*  Medium devices (tablets, 768px and up) */
@media (min-width: 668px) { 

    /* Web Menu page */
    #for-web-nav{
        display: none;
    }

    /* Mobile Menu page */
    #for-mob-nav{
        display: block;
    }
    
    /* Service pages */
    .all-service-css h5{
        margin-top: 10px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* Slidder Page */
    .carousel-inner img{
        width: 100px;
        height: 250px;
    }
 }

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #Head-img-css{
        width: 100%;
    }

    /* Mobile Menu page */
    #for-mob-nav{
        display: none;
    }

    /* Web Menu page */
    #for-web-nav{
        display: block;
    }

    /* Service pages */
    .all-service-css h5{
        margin-top: 10px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    

 }
/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #Head-img-css{
        height: 550px;
    }

    /* Mobile Menu page */
    #for-mob-nav{
        display: none;
    }

    /* Web Menu page */
    #for-web-nav{
        display: block;
    }
    
    /* Service pages */
    .all-service-css h5{
        margin-top: 10px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    /* Slidder Page */
    .carousel-inner img{
        width: 100px;
        height: 500px;

    }
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #Head-img-css{
        width: 100%;
        height: 550px;
    }

    /* Mobile Menu page */
    #for-mob-nav{
        display: none;
    } 

    /* Web Menu page */
    #for-web-nav{
        display: block;
    }

    /* Service pages */
    .all-service-css h5{
        margin-top: 10px;
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #Service-card-css img{
        height: 200px;
    }

    /* Slidder Page */
    .carousel-inner img{
        width: 100px;
        height: 500px;
    }
 }