.gift-voucher-slider img{
    width: 100%;
    }
    .gift-voucher-slider .carousel-indicators li{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #20A99F;
    }
    .slider-container{
        padding-top: 9rem;
    }